
.blockContainer {
    display:'flex';
    justify-content:'start';
    align-items:'flex-start';
    flex-direction:'column';
    margin:'auto';
    opacity:0;
    transform:'translate(-100%)';
}
.is-visible .blockContainer {
    animation: slideInFromRight 0.25s ease-out forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}